html {
    background-color: indigo;
    overflow: hidden;

}

h1 {
    color: limegreen;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: jsp 1s linear infinite;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img {
    animation: translate 5s linear infinite;
}

@keyframes translate {
    0% {
        transform: translateX(0);
        transform: rotate(0deg);
    }
    100% {
        transform: translateX(-100%);
        transform: rotate(360deg);
    }
}

@keyframes jsp {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}